<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <title> 咨询 </title>
    <script type="text/javascript">
        window.device = 'pc'
    </script>
  <link href="../../assets/css/vendor.css?7df4b7928497078849eb" rel="stylesheet"><link href="../../assets/css/views/news/index.css?7df4b7928497078849eb" rel="stylesheet"></head>
  <body>
    <div id="app">

	</div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="../../assets/js/vendor.js?7df4b7928497078849eb"></script><script type="text/javascript" src="../../assets/js/views/news/index.js?7df4b7928497078849eb"></script></body>



</html>
