.header {
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
}
.header .left {
    position: absolute;
    left: 15px;
    height: 48px;
    line-height: 48px;
}

.header .middle {
    position: absolute;
}

.header .right {
    position: absolute;
    top: 0;
    right: 15px;
    height: 48px;
    line-height: 48px;
}
.panel-bottom-border {
    border-bottom: 1px solid #D9D9D9;
}