<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <title> 推荐车汇惠 </title>
    <script type="text/javascript">
        window.device = 'app'
    </script>
<link href="../../assets/css/vendor.css?4ff98f2dfa278e96a9ab" rel="stylesheet"><link href="../../assets/css/views/recommend/index.css?4ff98f2dfa278e96a9ab" rel="stylesheet"></head>
<body>
<div id="app">

</div>
<script type="text/javascript" src="../../assets/js/vendor.js?4ff98f2dfa278e96a9ab"></script><script type="text/javascript" src="../../assets/js/views/recommend/index.js?4ff98f2dfa278e96a9ab"></script></body>
</html>
